body {
    padding-top: 10px;
    background-color: #091632;
    color: white;
}
.container {
    max-width: 80%;
    max-height: 80%;
}
.myName {
    margin-right: 10px;
    text-align: right;
}
.myTitle {
    padding: 20px;
    text-align: center;
}
.toCenter {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rowPadding {
    padding-top: 20px;
}
.myTable {
    width: 400px;
    height: 1000px;
    margin-top: 10px;
    background-color: #14316f;
    overflow-y: auto;
}
.myCard {
    min-height: 400px;
    font-family: monospace;
    margin-left: 20px;
}
.scroll {
    max-height: 940px;
    overflow-y: auto;
    background-color: #040914;
    color: white;
}
.card-body {
    width: 1600px;
    height: 1000px;
}
.input {
    margin-left: 20px;
    margin-top: 20px;
}
input {
    width: 1600px;
    font-size: 21px;
    background-color: #040914;
    color: white;
}
.modal-dialog, .modal-content, .modal-body {
    background-color: #14316f;
}
.drop-btn {
    font-size: 40px;
    text-align: center;
    padding-left: 100px;
    padding-bottom: 25px;
    padding-top: 40px;
    display: flex;
    color: white;
    background-color: #3275ff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.drop-btn:nth-child(odd) {
    background-color: #1b4190;
}
.drop-btn:hover {
    color: #777;
    text-decoration: none;
    background-color: #091632;
}